/* Custom color variables */
:root {
    --primary-color: #2f404d;
    --secondary-color: #fff69f;
    --accent-color: #351409;
    --highlight-color: #fdd870;
    --text-color: #c4ffff;
}

/* #490727,#4b064a,#0e253e,#0f3e28,#3b6d0c */

/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

/* Header styles */
header {
    background-color: var(--highlight-color);
    color: var(--text-color);
    padding: 10px 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

h1 {
    margin: 0;
    font-size: 24px;
    color: var(--accent-color);
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: var(--accent-color);
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: var(--accent-color);
    color: var(--text-color);
}

p {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

/* Button styles */
.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: var(--text-color);
}

.btn:hover {
    filter: brightness(90%);
}

/* Index page specific styles */
body.index {
    background-color: var(--primary-color);
    color: var(--text-color);
}

a.index {
    color: var(--highlight-color);
}

.btn.index {
    background-color: var(--accent-color);
    color: var(--text-color);
}

.btn.index:hover {
    background-color: var(--secondary-color);
}

/* Map page specific styles */
body.map {
    background-color: var(--primary-color);
    color: var(--text-color);
}

a.map {
    color: var(--secondary-color);
}

.btn.map {
    background-color: var(--accent-color);
    color: var(--text-color);
}

.btn.map:hover {
    background-color: var(--secondary-color);
}

#map-container {
    margin-top: 10px;
    background-color: var(--highlight-color);
    border-radius: 10px;
    overflow: hidden;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}
