/* Custom color variables */
:root {
    --primary-color: #2f404d;
    --secondary-color: #fff69f;
    --accent-color: #351409;
    --highlight-color: #fdd870;
    --text-color: white;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text-color);
}
.fonts{
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
  }
  .lists {
    columns: 4;
    -webkit-columns: 4;
    -moz-columns: 4;
}

.lists ul {
    padding: 5pxs;
    list-style: none;
}

.lists ul li {
    margin-bottom: 10px;
}
.fade-in {
    animation: fadeIn 1.5s ease-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* Header styles */
header {
    background-color: var(--highlight-color);
    color: var(--text-color);
    padding: 10px 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

h1 {
    margin: 0;
    font-size: 24px;
    color: var(--accent-color);
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: var(--accent-color);
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: var(--accent-color);
    color: var(--text-color);
}

p {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

/* Button styles */
.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: var(--text-color);
}

.btn:hover {
    filter: brightness(90%);
}

/* Index page specific styles */
body.index {
    background-color: var(--primary-color);
    color: var(--text-color);
}

a.index {
    color: var(--highlight-color);
}

.btn.index {
    background-color: var(--accent-color);
    color: var(--text-color);
}

.btn.index:hover {
    background-color: var(--secondary-color);
}

/* Map page specific styles */
body.map {
    background-color: var(--primary-color);
    color: var(--text-color);
}

a.map {
    color: var(--secondary-color);
}

.btn.map {
    background-color: var(--accent-color);
    color: var(--text-color);
}

.btn.map:hover {
    background-color: var(--secondary-color);
}

#map-container {
    margin-top: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

#slider-label {
    font-size: 18px;
    margin-bottom: 10px;
}

#year-value {
    font-weight: bold;
    color: var(--highlight-color);
}

#year-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 90%;  /* Made the slider longer */
    height: 10px;
    background: var(--highlight-color);
    outline: none;
    opacity: 0.7;
    transition: opacity 0.3s;
    border-radius: 5px;
    margin-bottom: 10px;
}

#year-slider:hover {
    opacity: 1;
}

#year-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: var(--accent-color);
    cursor: pointer;
    border-radius: 50%;
}

#year-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: var(--accent-color);
    cursor: pointer;
    border-radius: 50%;
}

.slider-labels {
    display: flex;
    justify-content: space-between;
    width: 90%;
    color: var(--text-color);
}


/* Tooltip styles */
#tooltip {
    position: absolute;
    text-align: center;
    width: 120px;
    height: auto;
    padding: 5px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.hidden {
    display: none;
}

#charts-container {
    display: flex; flex-wrap: wrap;
}
